<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cmina.openmeeting">

    <application
        android:name=".utils.GlobalApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/babtalk"
        android:label="같이 밥먹자"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.OpenActivity"></activity>

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                //youtube에서 공유하기
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.SignUpActivity"></activity>
        <activity android:name=".activity.LoginActivity"></activity>
        <activity android:name=".activity.ChatActivity"></activity>
        <activity android:name=".activity.WebViewActivity" />
        <activity android:name=".activity.ExtarInfoActivity" />
        <activity android:name=".activity.MyNotiControlView"/>
        <activity android:name=".activity.ProfileActivity"/>


        <!-- [naveroauthlogin][start] 네이버아이디로로그인을 사용하기 위해서 넣어줘야하는 부분 -->
        <activity
            android:name="com.nhn.android.naverlogin.ui.OAuthLoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.nhn.android.naverlogin.ui.OAuthLoginInAppBrowserActivity"
            android:label="OAuth2.0 In-app" />
        <!-- [naveroauthlogin][end] -->

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        //stopWithTask true로하면 ontaskRemoved 호출되지 않는다.
        <service
            android:name=".service.SocketService"
            android:stopWithTask="false"></service>

        <receiver android:name=".receiver.WifiChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.RestartReceiver"
            android:process=".remote"> //시스템의 알람을 받기위해 추가
            <intent-filter>
                <action android:name="RestartReceiver.restart" />
            </intent-filter>
        </receiver>


    </application>

    //인터넷 접속을 위한 권한 설정
    <uses-permission android:name="android.permission.INTERNET" />
    //인터넷 접속이 가능한지 체크하기 위해 네트워크 상태를 볼 수 있는 권한
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    //소켓 통신을 하기위한 부수적 권한(wifi change됐는지 )
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    //카메라 사용 권한
    <uses-permission android:name="android.permission.CAMERA" />
    //외부저장소 쓰기
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    //외부저장소 읽기
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>